Welcome to {{ansible_facts.hostname[0]}}. The IP address of this machine is {{ansible_facts.ip_addresses[0]}}

System Architecture is {{ansible_facts.Architecture}}
Distribution is {{ansible_facts.Distribution}}