Welcome to {{ansible_facts.hostname}}. The IP address of this machine is {{ansible_facts.ip_address}}

System Architecture is {{ansible_facts.Architecture}}
Distribution is {{ansible_facts.Distribution}}